@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* https://stackoverflow.com/a/59253905/18038473 */
  scroll-margin-top: 100px;
}
:root {
  overflow-x: hidden;
  font-family: "Comfortaa", cursive;

  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
.btn {
  text-transform: capitalize;
}
.HEADER_ANIMATION {
  animation-name: HEADER-ANIMATION;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.HEADER_ANIMATION_FLY_GUY {
  animation-name: HEADER-ANIMATION-FLY-GUY;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.HEADER_ANIMATION_FLY_GUY_1 {
  animation-name: HEADER-ANIMATION-FLY-GUY_1;
  animation-duration: 12s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.HEADER_ANIMATION_FLY_GUY_2 {
  animation-name: HEADER-ANIMATION-FLY-GUY_2;
  animation-duration: 19s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.CIRCLE_ANIMATION {
  animation-name: CIRCLE_ANIMATION;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.CIRCLE_ANIMATION_1 {
  animation-name: CIRCLE_ANIMATION_1;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#services {
  height: 600px;
  background-color: pink;
}

.ANIMATION_ROUND {
  animation-name: ANIMATION_ROUND;
  animation-duration: 5s;
  animation-delay: 0.3s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
.ANIMATION_ROUND1 {
  animation-name: ANIMATION_ROUND;
  animation-duration: 5s;
  animation-delay: 0.6s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
.ANIMATION_ROUND2 {
  animation-name: ANIMATION_ROUND;
  animation-duration: 5s;
  animation-delay: 0.9s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
.ANIMATION_ROUND3 {
  animation-name: ANIMATION_ROUND;
  animation-duration: 5s;
  animation-delay: 1.2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
.ANIMATION_ROUND4 {
  animation-name: ANIMATION_ROUND;
  animation-duration: 5s;
  animation-delay: 1.5s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
.ANIMATION_BG {
  animation-name: ANIMATION_BG;
  animation-duration: 9s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: 0% 50% !important;
}
@keyframes ANIMATION_BG {
  0% {
    transform: translate(-3%, 4%);
  }
  25% {
    transform: translate(9%, 2%);
  }
  50% {
    transform: translate(-10%, 3%);
  }
  75% {
    transform: translate(9%, 25%);
  }
  100% {
    transform: translate(-3%, 4%);
  }
}

@keyframes ANIMATION_ROUND {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes CIRCLE_ANIMATION {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes CIRCLE_ANIMATION_1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes HEADER-ANIMATION-FLY-GUY_1 {
  0% {
    transform: translate(-21%, 11%);
  }
  25% {
    transform: translate(23%, 22%);
  }
  50% {
    transform: translate(18%, -7%);
  }
  75% {
    transform: translate(-16%, 25%);
  }
  100% {
    transform: translate(-21%, 11%);
  }
}
@keyframes HEADER-ANIMATION-FLY-GUY_2 {
  0% {
    transform: translate(-5%, 21%);
  }
  25% {
    transform: translate(13%, 9%);
  }
  50% {
    transform: translate(21%, -12%);
  }
  75% {
    transform: translate(-16%, 25%);
  }
  100% {
    transform: translate(-5%, 21%);
  }
}
@keyframes HEADER-ANIMATION-FLY-GUY {
  0% {
    transform: translate(-15%, 23%);
  }
  25% {
    transform: translate(71%, 35%);
  }
  50% {
    transform: translate(88%, -47%);
  }
  75% {
    transform: translate(-46%, 35%);
  }
  100% {
    transform: translate(-15%, 23%);
  }
}
@keyframes HEADER-ANIMATION {
  0% {
    transform: translate(-5%, 3%);
  }
  25% {
    transform: translate(3%, 6%);
  }
  50% {
    transform: translate(9%, -3%);
  }
  75% {
    transform: translate(-4%, 8%);
  }
  100% {
    transform: translate(-5%, 3%);
  }
}

.loaders {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  color: #3d3d3d;
  animation: spin_4991 5s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
